
{% extends "skel.html" %}


{% block content %}

<h3><i class="fa fa-angle-right"></i> Projects to rate</h3>
<!-- Rate the groups -->
{% if list %}
{% for project in list %}
<div class="row mt ">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="">
                <h3 class="mb">{{ project.name }}</h3>
                <br>
            </div>
            <div class="panel-body">
                <h4>Description</h4>
                <p>
                    {{ project.description }}
                </p>
                <br>
                <hr>
                <h4>Members</h4>
                <ul class="list-inline">
                    {% for member in project.members.all %}
                    <li><img src="https://cdn.local.epitech.eu/userprofil/trombiview/{{ member.username }}.jpg"><br/>{{ member.username }}</li>
                    {% endfor %}
                </ul>
                <hr>
                {% if not user in project.members.all %}
                    {% if project in projects_rated %}
                    <div class="alert alert-success"><b>Congrats, You have rate this project.</b></div>
                    {% endif %}
                <a href="{% url 'marks:detail' project.id %}">Rate this project <i class="fa fa-share"></i></a>
                {% else %}
                <a href="{% url 'marks:detail' project.id %}">Edit my project <i class="fa fa-share"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No project available.</p>
{% endif %}


{% endblock  %}
