{% extends "skel.html" %}

{% block content %}

{% load get_range %}
<h1>{{ project.name }}</h1>
{{ project.description }}
<h2>Members</h2>
<ul>
{% for member in project.members.all %}
    <li><img src="https://cdn.local.epitech.eu/userprofil/trombiview/{{ member.username }}.jpg"><br/>{{ member.username }}</li>
{% endfor %}
</ul>
<h2>Photos</h2>
<ul>
{% for picture in project.pictures.all %}
    <li>{{ picture.title }}<br /> <img width="500" src="/media/{{ picture.file }}" alt="{{ picture.title }}" /></li>
{% endfor %}
</ul>
{% if not user in project.members.all %}
{% if shared_timeslot %}
<h2>Mark the project</h2>
{% for question, value in questions %}
<h3>{{ question.title }}</h3>
<p>{{  question.detail }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'marks:grade' project.id %}" method="post">
{% csrf_token %}
<div class="rate">
    {% for i in 10|get_range %}
    {% if not i == 0 and not i = 5 %}
        <input type="radio" {% if value == i %}checked{% endif %} name="question-{{ question.id }}" value="{{ i }}"> {{ i }}<br>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% else %}
        <p>
            You are not sharing the same timeslot with this group. So you cannot mark it.
        </p>
{% endif %}
{% else %}
<h2>~~Edit my project~~</h2>
{% endif %}
{% endblock %}