{% extends "skel.html" %}

{% block content %}

{% load get_range %}

<h3><i class="fa fa-angle-right"></i> {{ project.name }} </h3>
<div class="row mt ">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="">
                <h3 class="mb">Description</h3>
                <br>
            </div>
            <div class="panel-body">
                {{ project.description|linebreaks }}
            </div>
        </div>
    </div>
</div>
<div class="row mt ">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="">
                <h3 class="mb">Members</h3>
                <br>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                    {% for member in project.members.all %}
                    <li><img src="https://cdn.local.epitech.eu/userprofil/trombiview/{{ member.username }}.jpg"><br/>{{ member.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% if project.pictures.all %}
<div class="row mt ">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="">
                <h3 class="mb">Photos</h3>
                <br>
            </div>
            <div class="panel-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for picture in project.pictures.all %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %} class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for picture in project.pictures.all %}
                        <div class="item  {% if forloop.counter0 == 0 %}active{% endif %}">
                            <img class="img-responsive center-block" src="/media/{{ picture.file }}" alt="{{ picture.title }}" />
                            <div class="carousel-caption">
                                <h3>{{ picture.title }}</h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div> <!-- Carousel -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if not user in project.members.all %}
<div class="row mt ">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="">
                <h3 class="mb">Mark the project</h3>
                <br>
            </div>
            <div class="panel-body">
                {% if shared_timeslot %}
                {% if entirely_marked %}
                    <div class="alert alert-success"><b>Congrats, You have successfully marked this project.</b></div>
                {% endif %}
                <form action="{% url 'marks:grade' project.id %}" method="post">
                    {% csrf_token %}
                    {% if error_message %}
                    <div class="alert alert-danger"><b>{{ error_message }}</b></div>
                    {% endif %}

                    {% for question, value in questions %}
                    <h4>{{ question.title }}</h4>
                    <p>{{  question.detail }}</p>
                    {% for i in 10|get_range %}
                    {% if not i == 0 and not i = 5 %}
                    <label class="checkbox-inline">
                        <input type="radio" {% if value == i %}checked{% endif %} name="question-{{ question.id }}" value="{{ i }}"> {{ i }}
                    </label>
                    {% endif %}
                    {% endfor %}
                    <hr>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                </form>
                {% else %}
                <p class="bg-danger">
                    You are not sharing the same timeslot with this group. So you cannot mark it.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row mt ">
    <div class="col-md-12">
        <div class="form-panel">
            <div class="">
                <h3 class="mb"><i class="fa fa-edit"></i> Edit</h3>
                <br>
            </div>
            <div class="panel-body">
                <form class="form-horizontal style-form" action="{% url 'marks:editsec' project.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <form class="form-horizontal">
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field, error in form.errors.items %}
                            <b>{{ field }} : {{ error }}</b>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="inputName" value="{{ project.name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="60" class="form-control" name="description"
                                          id="inputDescription">{{ project.description }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="row mt">
    <div class="col-md-12">
        <section class="task-panel tasks-widget">
            <div class="panel-heading">
                <div class=""><h3><i class="fa fa-camera"></i> Manage Photos</h3></div>
                <br>
            </div>
            <div class="panel-body">
                <div class="task-content">
                    {% if project.pictures.all %}
                    <ul class="task-list">
                        {% for pict in project.pictures.all %}
                        <li>
                            <div class="task-title">
                                <span class="task-title-sp"><a href="{{ pict.file.url }}">{{ pict.title }} - {{ pict.file.name }}</a></span>
                                {% if pict.file.width %}
                                <span class="badge bg-info">{{ pict.file.width }} x {{ pict.file.height }} </span>
                                {% endif %}
                                <div class="pull-right hidden-phone">
                                    <a href="{% url 'marks:deleteimg' project.id pict.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                    {% else %}
                    <p>No photo(s) yet.</p>
                    {% endif %}
                </div>

                <div class="add-task-row">
                    <form class="form-horizontal style-form" action="{% url 'marks:edit' project.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form_pict.errors %}
                        <div class="alert alert-danger">
                            {% for field, error in form_pict.errors.items %}
                            <b>{{ field }} : {{ error }}</b>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" maxlength="50" name="title" id="inputTitle" placeholder="A title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFile" class="col-sm-2 control-label">File</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" name="file" id="inputFile">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Add New Photo</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div><!-- /col-md-12-->
</div><!-- /row -->
{% endif %}
{% endblock %}